@{
    Layout = "_EmailLayout";
    ViewBag.Title = "";
}

@section EmailHeader { Subject: Ново Барање }

    <p>Почитувани,</p>

    <p>
        Поднесено е барање од корисник кој има потреба од услуга а вашите вештини го исполнуваат барањето.
    </p>
    <p>
        За подетални информации за услугата ве молам кликнете на следниов <a href=@ViewBag.Callback>линк</a>.
    </p>
    <br />

    