@{
    Layout = "_EmailLayout";
    ViewBag.Title = "";
}

@section EmailHeader{ Subject: Ресетирање лозинка}

    <p> Почитувани, </p>

    <p> Вашата лозинка е ресетирана. За да внесете нова лозинка по ваша желба, кликнете на    <a href="@ViewBag.Callback">линкот</a>  </b>      </p>

   
